body {
    background-color: #f5f7fa;
    color: #333;
}

.container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    padding: 20px;
} 



h1 {
    color: #2c3e50;
    margin-bottom: 30px;
}

.timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
}


.timer input {
    margin: 5px;
}


.timer:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.timer-description {
    width: 100%;
    margin-bottom: 10px;
}

.timer-inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.timer-inputs input {
    width: 30%;
}

.timer-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.timer-controls button {
    width: 30%;
}

.time-display {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    margin-top: 10px;
}

#add-timer, #sort-timers, #save-timers, label[for="load-timers"] {
    margin-top: 20px;
    margin-right: 10px;
}

.delete {
    background-color: #95a5a6;
}

.delete:hover {
    background-color: #7f8c8d;
}

#load-timers {
    display: none;
}

label[for="load-timers"] {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

label[for="load-timers"]:hover {
    background-color: #2980b9;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.start-stop {
    background-color: #2ecc71;
}

.start-stop:hover {
    background-color: #27ae60;
}

.reset {
    background-color: #e74c3c;
}

.reset:hover {
    background-color: #c0392b;
}

@media (max-width: 600px) {
    .timer-inputs,
    .timer-controls {
        flex-direction: column;
    }

    .timer-inputs input,
    .timer-controls button {
        width: 100%;
        margin: 5px 0;
    }

    .main-controls button,
    .main-controls label {
        flex-basis: calc(50% - 10px);
}


    .timer-description {
        width: calc(100% - 10px);
    }
}

.main-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.main-controls button,
.main-controls label {
    flex: 1 1 200px;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.main-controls button i,
.main-controls label i {
    font-size: 1.5em;
}

.main-controls button:hover::after,
.main-controls label:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    white-space: nowrap;
}
